<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<header>

    <% include ./partials/_header %>

</header>

<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->

    <a href="/urls/new">Create New TinyURL</a>

    <br>
    <br>

    <!-- if user is not logged in -->
    <% if (!user) { %>
        <p>You need to login first</p>
    <!-- else if url does not belong to logged in user  -->
    <% } else if (user.id !== urlUserId) { %>
        <p>This URL does not belong to you</p>
    <!-- else -->
    <% } else { %>
        <h4> My URLs </h4>
        <br>

        <a href="<%= longURL %>"><%= shortURL %></a> - <%= longURL %>

        <form class="form-inline" action="/urls/<%= shortURL %>/update" method="POST">
            <div class="form-group mb-2">
                <label for="longURL">Update URL:</label>
                <input class="form-control" type="text" name="longURL" placeholder="http://"
                    style="width: 300px; margin: 1em">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    <% } %>

    <br>
    <br>
    <br>
    <br>



</body>


</html>